<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="bootstrap.php">
    <testsuites>
        <testsuite name="All Exercises">
            <directory>Exercise1/tests</directory>
            <directory>Exercise2/tests</directory>
            <directory>ExerciseN2_1/tests</directory>
            <directory>ExerciseN2_2/tests</directory>
            <directory>ExerciseN3/tests</directory>
        </testsuite>
    </testsuites>
</phpunit>

